#own-hand {
    display: flex;
    flex-direction: row;
}

.own-card {
    width: 4.5rem;
    height: 6.5rem;
    background-color: black;
    color: white;
    border: 1px solid #263238;
    border-radius: 5px;
}
