#ga-container {
    height: 600px;
    width: 600px;
    background-color: #2e7d32;
    border: 6px solid #263238;
    border-radius: 5%;
}

.ga-player {
    height: 4.5em;
    width: 35em;
    z-index: 1000;
    position: relative;
    background-color: #fafafa;
    border: 2px solid #ddd;
    border-radius: 5px;
}
